.logo {
  width: 40%;
  margin: 0 auto;
}
.con {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}
.left {
  /* background-color: red; */
  background-color: #2a2d3e;
  padding: 2rem;
  gap: 1rem;
  height: auto;
  justify-content: flex-start;
}
.menu {
  color: gray;
}
.menu .menuCat {
  color: gray;
}
.logout {
  color: grey;
}
.outlet {
  background-color: #202332;
  color: white;
  border-radius: 10px;
  display: flex;
  flex: 1;
  width: 100%;
  height: auto;
}

/* Right side style  */
.srchInput {
  background-color: #202332;
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  text-indent: 1rem;
  width: 50%;
}
.searchDiv {
  position: relative;
}
.bi-search {
  position: absolute;
  color: gray;
  right: 53%;
  top: 20%;
  cursor: pointer;
}
.right {
  background-color: #2a2d3e;
  padding: 0;
}
.top {
  background-color: #2a2d3e;
  padding: 1rem;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.dropdownBtn::after {
  align-self: center;
  color: gray;
}
.proImg:hover{
 transform: scale(5);
}