.logo {
  width: 20px;
  height: 20px;
}
.con {
  width: 100%;
  margin: 0;
  padding: 0;
}

.outlet {
  background-color: #202332;
  height: 100%;
}
.left {
  background-color: #2a2d3e;
}
.top {
  background-color: #2a2d3e;
}
