input,
select,
textarea {
  background-color: #2a2d3e;
  outline: none;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 15px;
  height: 50px;
}
.modalRight {
  align-items: flex-start;
  justify-content: flex-start;
}
input::file-selector-button {
  padding: 0;
  margin: 0;
  display: none;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: gray;

}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute!important;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh!important;
  width: 100%;
  background-color: #22284993
}
.modal-content{
  background-color: #202332;
  padding: 3rem;
  width: 100%;
}
.modal-dialog{
  width: 100%;
  padding: 0;
  margin: 0;
}